@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
    @apply box-border;
    border: 1px solid gray;
    font-family: 'Source Sans Pro';
}
h1 {
    font-family: 'Lora Bold';
}
button {
    @apply bg-[#262832] border border-transparent w-full hover:bg-blue-500 hover:shadow-xl text-white py-2 rounded dark:bg-primary-dark my-0.5;
}
button.secondary {
    @apply bg-transparent border border-primary text-primary hover:shadow-xl py-2 w-full rounded dark:border-primary-dark dark:text-primary-dark dark:hover:bg-primary-dark dark:hover:text-white my-1;
}
button.tritiary {
    @apply bg-transparent border border-transparent text-black hover:underline hover:shadow-none py-2 w-fit rounded dark:border-primary-dark dark:text-primary-dark dark:hover:bg-primary-dark dark:hover:text-white my-1;
}

input[type="text"], input[type="password"] {
    @apply bg-transparent border border-gray-300 rounded-md py-2 px-4 my-0.5 w-full dark:bg-gray-800 dark:border-gray-700 dark:text-white;
}

/* +----------------------------------+ */
/* |        GENERAL LAYOUT PAGE       | */
/* +----------------------------------+ */
.nav_seperator {
    @apply flex
}


/* +-----------------------------------+ */
/* |        AUTHERNTICATION PAGE       | */
/* +-----------------------------------+ */
.form-container {
    @apply flex flex-col items-center justify-center h-screen w-[100vw] px-24 border md:w-[28rem] md:h-fit md:py-[4rem];
}

/* +--------------------+ */
/* |        FONTS       | */
/* +--------------------+ */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/sourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Lora';
    src: url('./fonts/lora/Lora-VariableFont_wght.ttf') format('truetype'),
}
@font-face {
    font-family: 'Lora Bold';
    src: url('./fonts/lora/Lora-Bold.ttf') format('truetype'),
}